[submodule "firmware/src/tinyusb"]
	path = firmware/src/tinyusb
	url = git@github.com:hathach/tinyusb.git
[submodule "firmware/src/lwip"]
	path = firmware/src/lwip
	url = git@github.com:lwip-tcpip/lwip.git
